.menuImage {
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 0.75vw;
    transition: transform 0.3s ease-in-out;
}

.descriptionBox {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0.4vw;
    left: 0;
    right: 0;
    top: 1;
    bottom: -1em;
    text-align: center;
    color: white;
    border: 0.05vw solid black;
    background: rgba(0, 0, 0, 0.5);
    width: 90%;
    border-radius: 0.75vw;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
    z-index: 1;

}

.descriptionText {
    /* display: none; */
    margin: 0;
    font-size: 0.6vw;
    padding-top: 1em;
    padding-bottom: 1em;
    z-index: 1;

}

.card-wrapper:hover .menuImage {
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 1.25vw 2vw rgba(0, 0, 0, 0.5);
}

.card-wrapper:hover .descriptionBox {
    display: block;
    z-index: 2;
    transform: scale(1.1);
}

#slider-2 .slick-slide {
    position: relative;
    margin: 6em 0em;
}


#slider-2 .slick-arrow {
    color: black;
}

#slider-2 .slick-prev {
    z-index: 100;
    left: 1vw !important;
}

#slider-2 .slick-next {
    z-index: 100;
    right: 1vw !important;
}

.menuCarouselContainer {
    margin: 10vw 0em;
}

@media (max-width: 1220px) {
    .descriptionText {
        font-size: 2vw;
    }

    .menuImage {
        border-radius: 2vw;
    }

    .descriptionBox {
        border-radius: 2vw;
    }
}