.Menu {
    display: flex;
    margin-top: 5vw;
}

.Menu-right {
    background-color: #898B61;
}

.Menu-left {
    width: 80%;
}

.Menu-info {
    padding: 4vw 4vw;
}

.Menu-carousel {}

.Menu-title {
    font-family: 'Circular Std', sans-serif;

    font-weight: 500;
    font-size: 1.6vw;
    color: #FFFFFF;
}

.Menu-paragraph {
    font-family: 'Circular Std', sans-serif;

    font-weight: 450;
    font-size: 1vw;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 2vw;
}

a.button {
    text-decoration: none;
    background-color: black;
    box-sizing: border-box;
    font-family: 'Circular Std', sans-serif;
    font-weight: 450;
    font-size: 1.5vw;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2vw;
    width: 12vw;
    padding: 0.75vw 2vw 0.75vw 2vw;
    height: fit-content;
    margin: auto;
}

a.button:hover {
    background-color: white;
    color: black;
}

@media (max-width: 600px) {
    .Menu-left {
        width: 0%
    }

    .Menu-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4vh;
    }

    .Menu-title {
        font-size: 2.6vw;
    }

    .Menu-paragraph {
        font-size: 2vw;
    }

    a.button {
        font-size: 2.2vw;
        padding: 0.25vw 3vw 0.25vw 3vw;
    }
}

/* Add your main styles here */

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popup-content {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.food {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}