.ChefsPicks-container {
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-size: 0.85vw;
}

.ChefsPicks-title {
    font-size: 1.2vw;
    margin-bottom: 3vw;
    margin-top: 5vw;
    font-family: 'Circular Std', sans-serif;
}

.ChefsPicks-cards {
    display: flex;
    padding-bottom: 8vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.ChefsPicksCard {
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    margin: 0 2vw;
    min-width: 28vw;
}

.ChefsPicksCard img {
    width: 100%;
    object-fit: cover;
    padding-bottom: 1vw;
}

.CardContainer {
    border: 0.05vw solid #ccc;
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    height: 25vw;
    width: auto;
    background-color: #898B61;
}

.CardContent {
    padding: 0.75vw;

}

.chef-img {
    height: 16vw;
    margin-bottom: 1vw;
}

.chef-title {
    font-size: 1vw;
    color: white;
    margin-bottom: 0.7vw;
}

.chef-description {
    font-size: 0.85vw;
    color: white;
    opacity: 60%;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vw;
    line-height: 1.4;
}

.ChefsPicks-title img {
    height: 4.5vh;
    width: 2.5vw;
}

@media (max-width: 1220px) {

    .CardContainer {
        height: 40vw;
    }

    .chef-img {
        height: 20vw;
    }

    .chef-title {
        font-size: 2vw;
    }

    .chef-description {
        padding-top: 1vw;
        font-size: 1.8vw;
    }

    .ChefsPicks-title {
        font-size: 3.2vw;
    }

    .ChefsPicks-title img {
        height: 4vw;
        width: 4vw;
    }

}