.ChefsPicks {
    height: 80vw;
}

.ChefsPicks-container {
    text-align: center;
    font-family: 'Circular Std', sans-serif;
    font-size: 0.85vw;
}

.ChefsPicks-title {
    font-size: 1.2vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    font-family: 'Circular Std', sans-serif;
}

.ChefsPicks-cards {
    display: flex;
    padding-bottom: 2.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.ChefsPicksCard {
    border-radius: 0.5vw;
    overflow: hidden;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    margin: 0 0.5vw;
    width: 100%;
}

.ChefsPicksCard img {
    width: 100%;
    object-fit: cover;
    padding: 1vw;
}

.CardContainer {
    border: 0.05vw solid #ccc;
    /* Border color */
    border-radius: 0.5vw;
    /* Rounded corners */
    overflow: hidden;
    /* Hide overflowing content (e.g., rounded corners for images) */
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    /* Optional: Add a subtle box shadow */
    height: 100%;
}

.CardContent {
    padding: 0.75vw;
}

.chef-title {
    font-size: 1.5vw;
}

.ChefsPicks-title img {
    max-height: 2vw;
    max-width: 2vw;
}

@media (max-width: 1220px) {
    .ChefsPicks-container {
        max-height: 50vw;
    }

    .CardContainer {
        height: 40vw;
    }

    .chef-title {
        font-size: 2.5vw;
    }

    .chef-description {
        font-size: 2vw;
    }

    .ChefsPicks-title {
        font-size: 3.2vw;
    }

    .ChefsPicks-title img {
        max-height: 4vw;
        max-width: 4vw;
    }
}