.footer-container {
    background-image: url("../../images/beef-vegetables-sesame-seeds-black-bowl-black-slate-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.grid-container {
    display: flex;
    position: relative;
    display: grid;
    grid-template-rows: 25vw 15vw;
    font-family: 'Circular Std', sans-serif;
    font-size: 1.6vw;
    color: white;
}

.footer-contact {
    grid-row-start: 1;
    grid-row-end: 1;
}

.footer-contactinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 10vw;
    margin-left: 10vw;
    margin-top: 10vw;
    justify-content: space-between;
}

.contact {
    font-family: 'Circular Std', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.4vw;
    line-height: 2vw;
    text-align: center;
}

.order {
    font-family: 'Circular Std', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 1.4vw;
    line-height: 150%;
}

.call-button {
    background-color: #898B61;
    text-decoration: none;
    color: #fff;
    font-family: 'Circular Std', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 1vw;
    line-height: 0.9vw;
    padding: 0.7vw 2vw;
    border-radius: 1vw;
}

.call-button:hover {
    background-color: white;
    color: #898B61;
    opacity: 75%;
}


.footer-phone {
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background: rgba(0, 0, 0, 0.5);
}

.phone-paragraph {
    padding-right: 5vw;
    padding-bottom: 2vw;
    width: 100%;
    font-family: 'Circular Std', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 0.6vw;
    line-height: 0.75vw;
    text-align: right;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.8);
}

.footer-copyright {
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 5vw;
    padding-bottom: 2vw;
    background: rgba(0, 0, 0, 0.5);
}

.copyright {
    font-family: 'Circular Std', sans-serif;
    font-style: normal;
    font-weight: 450;
    font-size: 0.6vw;
    line-height: 0.75vw;
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.5);
}

.icons {
    width: 4vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5vw;
}

.text-on-image {
    position: relative;
}

.bottom-image {
    width: 100%;
}

.bottomright {
    position: absolute;
    bottom: 0.4vw;
    right: 0.8vw;
    font-size: 0.5vw;
    color: aliceblue;
}

@media (max-width: 1220px) {

    .grid-container {
        grid-template-rows: 35vw 25vw;
        font-size: 2.6vw;
    }

    .contact {
        font-size: 3.4vw;
        margin-bottom: 1vw;
    }

    .order {
        font-size: 2.4vw;
        margin-bottom: 1vw;
    }

    .copyright {
        font-size: 1.6vw;
    }

    .phone-paragraph {
        padding-right: 5vw;
        font-size: 1.6vw;
    }

    .call-button {
        font-size: 2vw;
        padding: 1.7vw 3vw;
    }
}